requests~=2.31.0
moviepy==2.0.0.dev2
# whisper版本0.9.0支持v2模型，0.10.0及以上支持v3模型
faster-whisper==0.10.0
# whisper的v3模型需要ctranslate2>=3.22.0版本，过低不支持，过高则需要cudnn较高版本。例如3.22.0兼容torch 11.8
ctranslate2==3.22.0
uvicorn~=0.27.1
fastapi~=0.115.4
tomli~=2.0.1
streamlit~=1.40.0
loguru~=0.7.2
pydantic~=2.6.3
edge-tts==6.1.19
openai~=1.59.8
pysrt==1.1.2
pydub==0.25.1
scikit-image==0.25.0
opencv-python~=4.11
matplotlib==3.10.1
# ocr安装要求
# 首先安装paddlepaddle,然后安装paddleocr.详情可查看官网文档,最新的v5ocr版本需要依赖都要达到3.0版本,如果需要gpu加速可使用如下命令
# python -m pip install paddlepaddle-gpu==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
paddlepaddle==3.0.0
paddleocr==3.0.2
aiofiles==24.1.0
# 访问torch官网，自行安装torch对应cuda11.8的版本，例如pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

# 系统手动安装ffmpeg用于视频处理
# 系统手动安装imagemagick用于字幕生成