requests~=2.31.0
moviepy==2.0.0.dev2
faster-whisper==0.9.0
uvicorn~=0.27.1
fastapi~=0.115.4
tomli~=2.0.1
streamlit~=1.40.0
loguru~=0.7.2
pydantic~=2.6.3
edge-tts==6.1.19
openai~=1.59.8
pysrt==1.1.2
pydub==0.25.1
scikit-image==0.25.0
opencv-python~=4.11
matplotlib==3.10.1
paddlepaddle==3.0.0
# 如果有提高效率的需求可以自行安装paddlepaddle-gpu
# python -m pip install paddlepaddle-gpu==2.6.2 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
paddleocr==2.7.0.0
aiofiles==24.1.0